html{
  overflow-x: hidden;
  max-width: 1440px;
  /* overflow-y: hidden; */
}
body {
  margin: 0;
  /* overflow-y: visible; */
 
}
::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F9896B;
  border-radius: 2.5px;
}

/* --------------- */

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.topbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.image {
  width: 13%;
  height: 10%;
  padding-left: 70px;
  justify-content: center;
}
.logo {
  width: 100%;
}
.navbar{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  /* padding: 7px; */
  padding-top: 7px;
  /* padding-bottom: 7px; */
  position: sticky;
  top: 0px;
  left: 0px;

 
}
.iconbars{
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 7px;
  position: sticky;
  top: 0px;
  left: 0px;
}
.iconbar{
  display:none;
}
/* .element{
    position:relative;
    display: inline-block;
} */
.element a {
  text-decoration: none;
  color: rgb(1, 1, 36);
  padding: 15px;
}
.sol{
    display:none;
    position: absolute;
    background-color: white;
    /* z-index: 1; */
    min-width: 160px;
    margin-top: 10px;

}
.sol li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    
    
}
.solution:hover .sol{
    display: block;
   
}
.sol li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.apps{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
 
   
}
.apps li{
    color: #23313e;
    padding: 12px 10px;
    text-decoration: none;
    list-style: none;
}
.app:hover .apps{
    display: block;
}
.apps li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.cust{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
}
.cust li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;

}
.customers:hover .cust{
    display: block;
}
.cust li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}
.reso{
    display:none;
    position: absolute;
    background-color: white;
    z-index: 1;
    min-width: 160px;
    margin-top: 10px;
}
.reso li{
    color: #23313e;
    padding: 12px 16px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}
.resourez:hover .reso{
    display:block;
}
.reso li:hover{
    color: #a82700;
    background-color:  #f9f9f9;
}

.element {
  padding-right: 50px;
  display: flex;
  align-items: center;
  font-family: "Montserrat";
}
.we button  {
  border-radius: 20px;
  background-color: #F9896B;
  color: white;
  margin-left: 40px;
  border: 0px;
  padding: 12px;
}
.navbar button{
  border-radius: 20px;
  background-color: #F9896B;
  color: white;
  margin-left: 40px;
  border: 0px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.req{
  width: 30%;
}

.para {
  background-color: #F9896B;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  margin: 0;
  padding: 2px 5px; 
  /* position: relative;
  top: 100px;
  z-index: 1; */
}
span {
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 40px;

}
.tophr{
    width: 15%;
    margin-left: 50px;
    color: #a0bad6;
    
}
.we {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 40px;
  /* background-image: url('Assets/17702.jpg'); */
  background-size: cover;
 height: 30rem;
}
.we2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 40px;
  
  }
  .we2 h2 {
    font-size: 28px;
    padding: 40px;
    color: rgb(131, 123, 123);
    padding-top: 8%;
    font-family: "Montserrat";
    color: #23313e;
    font-weight: lighter;
  }
  .we2 h1 {
    padding-left: 40px;
    /* padding-top: 10%; */
    font-family: "Montserrat";
    color: #23313e;
    font-size: 40px;
    font-weight: bolder;
  }
  .we2 .text {
    width: 65%;
    padding: 20px;
    border-radius: 10px;
    border:  1px solid #23313e;
    
  }
.we2 .pic {
  width: 20%;
  height: 60%;
}
.pic img {
  width: 90%;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure navbar stays on top of other content */
  /* Your existing styles for navbar */
}

.we2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 40px;
  position: relative; /* Make it a containing block for absolute positioning*/
} 
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 54em;
  max-width: 95%;
  padding: 2em 0;
  background: #FFF;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

.card::before, .card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #F9896B;
  height: 4px;
}

.card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.card .content {
  width: 54em;
  max-width: 80%;
}

.card .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.card .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.card .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.card .hover_content p {
  margin: 1.5em 0 0;
  color: #6E6E70;
  line-height: 1.4em;
}

.card:hover {
  width: 54em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.card:hover .logo {
  margin-bottom: 0.5em;
}

.card:hover .hover_content {
  max-height: 10em;
  transform: none;
}

/* .we2 .text {
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid #23313e; 
  overflow-y: auto; Enable vertical scrolling for the text 
  max-height: calc(100vh - 200px); /* Adjust height according to your design 
} */

.we2 .pic {
  width: 30%;
  height: 90%;
  /* position: sticky; */
  top: 100px; /* Adjust according to your design */
  align-self: flex-start; /* Align to the top of the container */
}



.text {
  width: 50%;
  padding: 20px;
}
.we hr{
  border: 1px solid #a0bad6;
  border-radius: 2px;
  width: 60%;
  margin: 0;
}
.we h2 {
  font-size: 28px;
  padding: 40px;
  color: rgb(131, 123, 123);
  padding-top: 8%;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: lighter;
}
.we h1 {
  padding-left: 40px;
  padding-top: 10%;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 40px;
  font-weight: bolder;
}
.element a:hover {
  color: #F9896B;
}

main {
    margin-bottom: 200px; 
 /* Adjust this value based on your design */
}

/* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; Adjust this value based on your design 
} */

/* ------footer----- */
.signin{
  width: 100%;
  height: 500px;
  background-color: #23313E;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  
  


}

.signin>div{
  margin : 100px auto;
}

.txt h3{
  font-size: 40px;


}

.txt{
  position: relative;
  left: 7%;
  top: 22%;
  font-family: "Montserrat";

}


.sign{
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 73%;
  gap: 8%;
  /* justify-content:space-evenly; */
  border-radius: 10px; 

}

.sign input[type=text]{
  background-color: #f2f2f2;
  width: 70%;
  align-self: center;
  border-radius: 10px;
  border: 0;
  height: 7%;
 

}
.sign input[type=email]{
  background-color: #f2f2f2;
  width: 70%;
  align-self: center;
  border-radius: 10px;
  border: 0;
  height: 7%;
 

}

.sign .bn{
  background-color: #F9896B;
  color: #f2f2f2;
  height: 10%;
  width: 65%;
  align-self: center;
  border-radius: 15px;
  border: 0;

}
/* -----me----- */
.ct-frm{
  width: 100%;
  height: 100%;
 
}
.footer{
  background-color: white;
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
 
}
.ft-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .cot{
  width: 30%;
  height: 100%;
  padding: 20px;
  
}
.cot button{
  
  border-radius: 20px;
  background-color: #F9896B;
  color: white;
  border: 0px;
  margin-left: 20px;
  padding: 12px;
}

.cot-bt{
  display: flex;

}
.cot-img{
  width: 50%;
}
.cot2{
  margin-left: 20px;
  color: white;
  line-height: 25px;
}
.connectors{
  color: #23313e;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
}
.epicor{
  color: #23313e;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
  margin-left: 30px;
}
.company{
  color: #23313e;
  list-style: none;
  line-height: 30px;
  font-family: "Montserrat";
  margin-left: 30px;
  margin-right: 30px;
}
.ft-c hr{
  width: 95%;
  color: none;
}
.ft-end{
  color: #23313e;
  font-family: "Montserrat";
  margin-left: 20px;
  font-weight: lighter;
}
.ft-right{
  display: flex;
}

/* ----------------- */
.turnoff{
  display: none;
}
/* !0 */