footer {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img {
    height: 50px; /* Adjust the height as needed */
}

.footer-links {
    display: flex;
}

.footer-section {
    margin-right: 40px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
